@import "tailwindcss";
@plugin "daisyui";
@import "./themes.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}


h1 {
  font-family: IBM Plex Mono;
}

.caret-blinking {
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
